<p>You are using named yields. Here are examples how to use them:</p>
<% content_for :head do -%>
  <script></script>
<% end -%>
<% content_for :menu do -%>
  
<% end -%>



<!-- original body content -->